{% liquid
  assign heading = section.settings.heading
  assign text = section.settings.text
  assign paymentOptions = section.settings.footer-payment-options
  assign mailingList = section.settings.footer-mailing-list
  assign alternateFooter = section.settings.footer-alternate
  assign alternateFooterMenu = section.settings.footer-secondary-menu
  assign country_selector = section.settings.show_currency_selector
  assign locale_selector = section.settings.show_locale_selector
  assign background_color = section.settings.background_color
  assign text_color = section.settings.text_color
%}

<script
  type="application/json"
  data-section-type="static-footer"
  data-section-id="{{ section.id }}"></script>

<style>
  .shopify-section.shopify-section-group-footer-group {
    display: flex;
    background-color: {{ background_color}}
    ;
  }
  .main-footer .sub-footer nav a,
  .social-links svg.svg-icon,
  nav.footer-nav p {
    color: {{ text_color}}
     !important;
  }
</style>

<div class="static-footer">
  {% unless alternateFooter %}
    {%
       render 'footer-one',
     heading: heading,
     text: text,
     mailingList: mailingList,
     paymentOptions: paymentOptions,
     country_selector: country_selector,
     locale_selector: locale_selector, %}
  {% else %}
    {%
       render 'footer-two',
     heading: heading,
     text: text,
     mailingList: mailingList,
     paymentOptions: paymentOptions,
     country_selector: country_selector,
     locale_selector: locale_selector,
     alternateFooterMenu: alternateFooterMenu, %}
  {% endunless %}
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "footer-mailing-list",
        "label": "Show newsletter form",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "footer-payment-options",
        "label": "Show payment icons",
        "default": false
      }, {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#000"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#FFFFFF"
      }, {
        "type": "header",
        "content": "Alternate footer"
      }, {
        "type": "checkbox",
        "id": "footer-alternate",
        "label": "Use alternate footer layout",
        "default": false
      }, {
        "type": "link_list",
        "id": "footer-secondary-menu",
        "label": "Secondary footer menu",
        "info": "This menu won't show dropdown items"
      }, {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      }, {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      }, {
        "type": "header",
        "content": "Country Selector",
        "info": "To add a country, go to your [payment settings.](/admin/settings/payments)"
      }, {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show country selector",
        "default": true
      }
    ]
  }
{% endschema %}