@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n4.c60eff80c85b729b1eec1d8aa62c6634592a5112.woff2?h1=YWFhdW5icmFuZGVkLnVz&hmac=f937dacb16aeff65e68b907e1e245184a09e05e6d01c2ffc6fdf35e91f9bd460") format("woff2"),
       url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n4.7f421e77d010b4ff2a22a0cf3c24b022b49a79fe.woff?h1=YWFhdW5icmFuZGVkLnVz&hmac=b7c070d963f635097e9d2be10a6f71e0444210872cf1fb85a0d2f8c42168b50a") format("woff");
}


@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n7.008e88c81552a2211bfd301db1683d87805b499a.woff2?h1=YWFhdW5icmFuZGVkLnVz&hmac=b205507c3a6a0774b3334c69ab7a5c95cde4ce401bfc3273d7e7aa31cc748061") format("woff2"),
       url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n7.2b9c9337ec9af77d57e04e5a0b4ed29b6bf05d5a.woff?h1=YWFhdW5icmFuZGVkLnVz&hmac=a88a8b1a2f895837b3bf129df76599172892dccc8b6c23703e12acf893fff4b9") format("woff");
}

  
@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n4.c60eff80c85b729b1eec1d8aa62c6634592a5112.woff2?h1=YWFhdW5icmFuZGVkLnVz&hmac=f937dacb16aeff65e68b907e1e245184a09e05e6d01c2ffc6fdf35e91f9bd460") format("woff2"),
       url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n4.7f421e77d010b4ff2a22a0cf3c24b022b49a79fe.woff?h1=YWFhdW5icmFuZGVkLnVz&hmac=b7c070d963f635097e9d2be10a6f71e0444210872cf1fb85a0d2f8c42168b50a") format("woff");
}


@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n7.008e88c81552a2211bfd301db1683d87805b499a.woff2?h1=YWFhdW5icmFuZGVkLnVz&hmac=b205507c3a6a0774b3334c69ab7a5c95cde4ce401bfc3273d7e7aa31cc748061") format("woff2"),
       url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n7.2b9c9337ec9af77d57e04e5a0b4ed29b6bf05d5a.woff?h1=YWFhdW5icmFuZGVkLnVz&hmac=a88a8b1a2f895837b3bf129df76599172892dccc8b6c23703e12acf893fff4b9") format("woff");
}

  
@font-face {
  font-family: "Source Code Pro";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n2.087fd7162d232b1098784def24ca178a1a02fd2b.woff2?h1=YWFhdW5icmFuZGVkLnVz&hmac=1cdae9b135a70bd94cc4f3fa14ae2a77f7a6e82fdef07b8b0ecfdda721d193bb") format("woff2"),
       url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n2.72cab196cbae2df6cc03763ae0c3f1f7ddd3b4a1.woff?h1=YWFhdW5icmFuZGVkLnVz&hmac=1934c2aef63c1e4ab3248ef52d7cbd2e24abfb9fb20f98984ed05ff784eddc8e") format("woff");
}

  
@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n4.c60eff80c85b729b1eec1d8aa62c6634592a5112.woff2?h1=YWFhdW5icmFuZGVkLnVz&hmac=f937dacb16aeff65e68b907e1e245184a09e05e6d01c2ffc6fdf35e91f9bd460") format("woff2"),
       url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n4.7f421e77d010b4ff2a22a0cf3c24b022b49a79fe.woff?h1=YWFhdW5icmFuZGVkLnVz&hmac=b7c070d963f635097e9d2be10a6f71e0444210872cf1fb85a0d2f8c42168b50a") format("woff");
}


@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n7.008e88c81552a2211bfd301db1683d87805b499a.woff2?h1=YWFhdW5icmFuZGVkLnVz&hmac=b205507c3a6a0774b3334c69ab7a5c95cde4ce401bfc3273d7e7aa31cc748061") format("woff2"),
       url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n7.2b9c9337ec9af77d57e04e5a0b4ed29b6bf05d5a.woff?h1=YWFhdW5icmFuZGVkLnVz&hmac=a88a8b1a2f895837b3bf129df76599172892dccc8b6c23703e12acf893fff4b9") format("woff");
}

  
@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n4.c60eff80c85b729b1eec1d8aa62c6634592a5112.woff2?h1=YWFhdW5icmFuZGVkLnVz&hmac=f937dacb16aeff65e68b907e1e245184a09e05e6d01c2ffc6fdf35e91f9bd460") format("woff2"),
       url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n4.7f421e77d010b4ff2a22a0cf3c24b022b49a79fe.woff?h1=YWFhdW5icmFuZGVkLnVz&hmac=b7c070d963f635097e9d2be10a6f71e0444210872cf1fb85a0d2f8c42168b50a") format("woff");
}


@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n7.008e88c81552a2211bfd301db1683d87805b499a.woff2?h1=YWFhdW5icmFuZGVkLnVz&hmac=b205507c3a6a0774b3334c69ab7a5c95cde4ce401bfc3273d7e7aa31cc748061") format("woff2"),
       url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n7.2b9c9337ec9af77d57e04e5a0b4ed29b6bf05d5a.woff?h1=YWFhdW5icmFuZGVkLnVz&hmac=a88a8b1a2f895837b3bf129df76599172892dccc8b6c23703e12acf893fff4b9") format("woff");
}

  
@font-face {
  font-family: "Source Code Pro";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n2.087fd7162d232b1098784def24ca178a1a02fd2b.woff2?h1=YWFhdW5icmFuZGVkLnVz&hmac=1cdae9b135a70bd94cc4f3fa14ae2a77f7a6e82fdef07b8b0ecfdda721d193bb") format("woff2"),
       url("https://fonts.shopifycdn.com/source_code_pro/sourcecodepro_n2.72cab196cbae2df6cc03763ae0c3f1f7ddd3b4a1.woff?h1=YWFhdW5icmFuZGVkLnVz&hmac=1934c2aef63c1e4ab3248ef52d7cbd2e24abfb9fb20f98984ed05ff784eddc8e") format("woff");
}

  


  

  
  

  
  
  

  
  
  

  
  
  

  

  
  

  
  

  
  
  

  
  

  
  

@keyframes placeholder-pulse {
  from {
    background-color: 






#dad7d1




;
  }
  to {
    background-color: #cfcbc3;
  }
}
.template-gift_card {
  font-family: "Source Code Pro",sans-serif;
  font-style: normal;
  font-weight: 400;
}
.template-gift_card a {
  text-decoration: none;
}
.template-gift_card .btn {
  display: inline-block;
  order: 2;
  width: max-content;
  padding: 1.5em;
  font-size: 0.875em;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
  vertical-align: baseline;
  background-color: #58686f;
  border-radius: 4px;
  zoom: 1;
}
.template-gift_card .btn:hover {
  background-color: #414d53;
}
.template-gift_card .wrap {
  width: 95%;
  max-width: 540px;
  margin: 0 auto;
}
.template-gift_card .wrap::after {
  display: table;
  clear: both;
  content: "";
}
@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(2000px) rotate(10deg);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes container-slide {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.template-gift_card header {
  padding: 3em 0;
  text-align: center;
  animation: fadein 0.5s ease-in-out both 0.4s;
}
.template-gift_card .shop-title {
  font-family: "Source Code Pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  display: block;
  max-width: 300px;
  margin: 0 auto;
  font-size: 2.25em;
  color: #bfbfbf;
  word-break: break-word;
}
.template-gift_card .shop-title:hover {
  color: #999;
}
.template-gift_card .shop-title img {
  max-height: 100%;
  margin: 0 auto;
}
.template-gift_card main {
  padding-bottom: 3em;
  animation: slideup 0.8s ease-in-out;
}
.template-gift_card .gift-card-outer-container {
  padding: 1em;
  background-color: #34aadc;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  animation: container-slide 0.8s ease-in-out;
}
.template-gift_card .gift-card-inner-container {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  animation: cardslide 0.8s ease-in-out;
}
.template-gift_card .gift-card-inner-container::after {
  display: table;
  clear: both;
  content: "";
}
.template-gift_card .gift-card-header {
  position: relative;
  display: block;
  padding: 0.75em;
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
}
.template-gift_card .gift-card-header h2 {
  float: left;
  margin: 0.12em 0;
  font-family: "Source Code Pro",sans-serif;
  font-style: normal;
  font-weight: 200;
}
.template-gift_card .gift-card-header .tag {
  float: right;
}
.template-gift_card .tag {
  padding: 0.5em;
  padding-bottom: 0.35em;
  font-size: 0.75em;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  background-color: #bfbfbf;
  border-radius: 4px;
}
.template-gift_card .tag.light {
  color: #bfbfbf;
  background: transparent;
  border: 1px solid #d9d9d9;
}
.template-gift_card .gift-card-holder {
  position: relative;
  margin: 1.25em 0.75em;
}
.template-gift_card .gift-card-holder .corner {
  position: absolute;
  z-index: 2;
  display: block;
  width: 47px;
  height: 47px;
}
.template-gift_card .gift-card-holder .corner.top-left {
  top: -1px;
  left: -1px;
  background: url("//cdn.shopify.com/s/assets/gift-card/corner-top-left-1585103bdd46bf1297b88f31bdfce999.png") 0 0 no-repeat;
}
.template-gift_card .gift-card-holder .corner.bottom-right {
  right: -1px;
  bottom: -1px;
  background: url("//cdn.shopify.com/s/assets/gift-card/corner-bottom-right-ba899b18631cb91859e186c2cc1c6970.png") 0 0 no-repeat;
}
.template-gift_card .gift-card {
  position: relative;
  box-sizing: border-box;
}
.template-gift_card .gift-card::before {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 10px;
  content: "";
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
          user-select: none;
}
.template-gift_card .gift-card img {
  max-width: 100%;
  border-radius: 10px;
}
.template-gift_card .gift-card-code-outer {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}
.template-gift_card .gift-card-code-outer.medium {
  font-size: 0.875em;
}
.template-gift_card .gift-card-code-outer.small {
  font-size: 0.75em;
}
.template-gift_card .gift-card-code-inner {
  display: inline-block;
  max-width: 450px;
  padding: 0.5em;
  vertical-align: baseline;
  background-color: #fff;
  border-radius: 4px;
  zoom: 1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.template-gift_card .gift-card-code-inner strong {
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  padding: 0.4em 0.5em;
  font-size: 1.875em;
  line-height: 1;
  color: #777;
  text-transform: uppercase;
  vertical-align: baseline;
  border: 1px dashed #e5e5e5;
  border-radius: 2px;
  zoom: 1;
}
.template-gift_card .small .gift-card-code-inner {
  overflow: auto;
}
.template-gift_card .disabled .gift-card-code-inner strong {
  color: #999;
  text-decoration: line-through;
}
.template-gift_card .gift-card-code-inner span + span {
  margin-left: 0.25em;
}
.template-gift_card .gift-card-amount {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4em 0.5em;
  font-size: 2.75em;
  color: #fff;
}
.template-gift_card .gift-card-amount.medium {
  font-size: 2.25em;
}
.template-gift_card .gift-card-amount strong {
  display: block;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.template-gift_card .tooltip {
  position: relative;
}
.template-gift_card .tooltip:hover .tooltip-container {
  display: block;
}
.template-gift_card .tooltip-container {
  position: absolute;
  top: -50%;
  right: 50%;
  z-index: 3;
  display: block;
  margin-top: 0.25em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  animation: popup 0.5s ease-in-out both 0.7s;
}
.template-gift_card .tooltip-triangle {
  position: absolute;
  bottom: 0;
  left: 100%;
  display: block;
  width: 0;
  height: 0;
  margin-bottom: -5px;
  margin-left: -5px;
  border-top: 5px solid rgba(51, 51, 51, 0.9);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  content: "";
}
.template-gift_card .tooltip-label {
  font-family: "Source Code Pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  display: block;
  position: relative;
  right: -50%;
  display: block;
  min-height: 14px;
  padding: 0.5em 0.75em;
  margin-left: 0.25em;
  font-size: 0.4em;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  background: rgba(51, 51, 51, 0.9);
  border: 0;
  border-radius: 4px;
}
.template-gift_card .gift-card-instructions {
  margin: 0 0.75em 1.5em;
  font-size: 0.875em;
  color: #999;
  text-align: center;
}
.template-gift_card .gift-card-qr-code {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}
.template-gift_card .gift-card-qr-code img {
  padding: 1.25em;
  margin: 0 auto 1.25em;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
}
.template-gift_card .gift-card-actions {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.25em 0.75em;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid #f2f2f2;
}
.template-gift_card .action-link {
  order: 1;
  margin-top: 1.75em;
  font-size: 0.875em;
  text-align: left;
  letter-spacing: 0.2em;
  color: #bfbfbf;
  text-transform: uppercase;
}
.template-gift_card .action-link:hover {
  color: #999;
}
.template-gift_card .action-link:hover .ico-16 {
  opacity: 0.4;
}
.template-gift_card .ico-16 {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 0.5em;
  margin-bottom: -1px;
  vertical-align: bottom;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.25;
  zoom: 1;
  transition: opacity 0.3s ease-in-out;
}
.template-gift_card .ico-16.print {
  background-image: url("//cdn.shopify.com/s/assets/gift-card/icon-print-164daa1ae32d10d1f9b83ac21b6f2c70.png");
}
.template-gift_card footer[role=contentinfo] {
  padding-bottom: 3em;
  text-align: center;
  animation: fadein 0.5s ease-in-out both 0.4s;
}
.template-gift_card .gift-card-apple-wallet-badge {
  display: inline-block;
}
.template-gift_card .gift-card-apple-wallet-badge-image {
  display: block;
}
@media screen and (max-width: 580px) {
  .template-gift_card body {
    font-size: 15px;
  }
  .template-gift_card h2 {
    font-size: 1.5em;
  }
  .template-gift_card .gift-card-outer-container {
    padding: 0.5em;
  }
  .template-gift_card .tooltip-container {
    top: -65%;
  }
  .template-gift_card .gift-card-actions {
    grid-template-columns: 1fr;
  }
  .template-gift_card .gift-card-actions .btn {
    order: 1;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    font-size: 1.125em;
  }
  .template-gift_card .action-link {
    order: 2;
    font-size: 1.125em;
    text-align: center;
  }
  .template-gift_card .action-link + .action-link {
    margin-left: 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .template-gift_card h2 {
    font-size: 1.25em;
  }
  .template-gift_card .gift-card {
    font-size: 10px;
  }
  .template-gift_card .gift-card-holder .corner {
    display: none;
  }
  .template-gift_card .gift-card-holder .corner.bottom-right {
    background-position: bottom right !important;
  }
  .template-gift_card .gift-card-amount strong {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .template-gift_card .tooltip-container {
    top: -75%;
  }
}
@media screen and (max-height: 800px) {
  .template-gift_card .shop-title {
    max-height: 100px;
  }
}
@media screen and (max-height: 750px) {
  .template-gift_card .shop-title {
    max-height: 80px;
  }
  .template-gift_card header {
    padding: 2em 0;
  }
  .template-gift_card footer[role=contentinfo],
  .template-gift_card main {
    padding-bottom: 2em;
  }
}
@media print {
  @page {
    .template-gift_card {
      margin: 0.5cm;
    }
  }
  .template-gift_card p,
  .template-gift_card h2,
  .template-gift_card h3 {
    orphans: 3;
    widows: 3;
  }
  .template-gift_card h2,
  .template-gift_card h3 {
    page-break-after: avoid;
  }
  .template-gift_card body {
    background-color: #fff;
  }
  .template-gift_card .gift-card-actions,
  .template-gift_card .gift-card-holder .corner,
  .template-gift_card .tooltip-container,
  .template-gift_card .gift-card::before {
    display: none;
  }
  .template-gift_card .gift-card-code-inner strong {
    color: #555;
  }
  .template-gift_card .gift-card-amount .tooltip {
    color: #fff !important;
  }
  .template-gift_card .shop-title {
    color: #58686f;
  }
  .template-gift_card .gift-card-outer-container,
  .template-gift_card .gift-card-inner-container,
  .template-gift_card .gift-card-code-inner,
  .template-gift_card .gift-card::before {
    box-shadow: none;
  }
}